workflow/current.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "video",
        "events": [
          "add"
        ],
        "options": {
          "awaitWriteFinish": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -2128,
        288
      ],
      "id": "936c0ce9-4ae5-4ab1-aa2d-b1f763abc121",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "command": "=chcp 65001\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1904,
        288
      ],
      "id": "4df92457-71ee-48d2-b9fe-c4aa1473935b",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main stt transcribe  {{ $('Local File Trigger').item.json.path }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1680,
        288
      ],
      "id": "8414c5ee-1fc9-48a3-be4f-c933fdab71f5",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main segment  {{ $json.stdout }} --technique punctuation --punctuation \"。\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1456,
        288
      ],
      "id": "a3a5387f-f073-4167-bce2-57442345fce8",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main translate {{ $('Execute Command1').item.json.stdout }} -t vi --from zh"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1232,
        288
      ],
      "id": "be3db9b1-480b-4b21-ae1a-cd314c6fc594",
      "name": "Execute Command3"
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main tts synthesize --key {{ $('Execute Command3').item.json.stdout }} --voice UsgbMVmY3U59ijwK5mdh --model eleven_v3 -o {{ $json.output }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -784,
        288
      ],
      "id": "e4f89e92-4ed3-4101-81fe-da7942813807",
      "name": "Execute Command4"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from pathlib import Path\nimport json\n\n\ndef alter_ext(src: Path, suffix: str) -> Path:\n    p = Path(src)\n    return p.with_suffix(suffix)\n\ndef append_suffix_before_ext(src: Path, extra_suffix: str) -> Path:\n    p = Path(src)\n    return p.with_stem(p.stem + extra_suffix)\n\nsrc = _('Local File Trigger').first().json.path\nout = append_suffix_before_ext(Path(src), \"_translated\")\nspeed = append_suffix_before_ext(Path(src), \"_speeded_up\")\n\nprint(src)\n\nreturn {\n  \"original\": src,\n  \"output\": str(alter_ext(out, \".mp3\")),\n  \"speed_up\": str(alter_ext(speed, \".mp3\")),\n}\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        288
      ],
      "id": "cc7cb1c2-0ddb-4793-a4af-e30510608b53",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "command": "=ffmpeg -i {{ $('Code in Python (Beta)').item.json.output }} -filter:a \"atempo=1.4\" {{ $('Code in Python (Beta)').item.json.speed_up }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -560,
        288
      ],
      "id": "e2579569-1b92-4a15-ba07-646dd605afcf",
      "name": "Execute Command5"
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main stt transcribe  {{ $('Code in Python (Beta)').item.json.speed_up }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -336,
        288
      ],
      "id": "ee047885-b578-4ff8-adee-fbdc2fb355cb",
      "name": "Execute Command6"
    },
    {
      "parameters": {
        "command": "uv run python -m src.main cache clear --yes"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        592,
        288
      ],
      "id": "6d2e7ca2-7533-48c9-b946-dd118b4daa84",
      "name": "Execute Command10",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main segment  {{ $json.stdout }} --technique words_count --max-words-per-segment 10"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -112,
        288
      ],
      "id": "9262ca1b-0410-4e11-9e42-828527e3aca1",
      "name": "Segment 2"
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main map --goc-key  {{ $('Execute Command2').item.json.stdout }} --rut-key {{ $json.stdout }} --model gpt-5-mini-2025-08-07"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        112,
        288
      ],
      "id": "4b7b15a6-fd34-4eb5-badf-e852f8f28827",
      "name": "Map"
    },
    {
      "parameters": {
        "command": "=uv run python -m src.main video {{ $json.stdout }} --video {{ $('Code in Python (Beta)').item.json.original }} --audio {{ $('Code in Python (Beta)').item.json.speed_up }} --method ass --caption-box --caption-box-width 1050 --caption-box-align center --caption-box-margin-bottom -1300 --caption-box-height 260 --caption-box-alpha 1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        336,
        288
      ],
      "id": "ef9ad3e8-dcc2-48b7-b09d-23dbe0c70d85",
      "name": "Concate video"
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command3": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Execute Command4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command4": {
      "main": [
        [
          {
            "node": "Execute Command5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command5": {
      "main": [
        [
          {
            "node": "Execute Command6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command6": {
      "main": [
        [
          {
            "node": "Segment 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment 2": {
      "main": [
        [
          {
            "node": "Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map": {
      "main": [
        [
          {
            "node": "Concate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concate video": {
      "main": [
        [
          {
            "node": "Execute Command10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae48cf21-cc85-4f23-99f6-c6b4677a9448",
  "meta": {
    "instanceId": "effd772192f543bca217cacc5f023c9bbf3bd77c504dd74a40420c31f7422b98"
  },
  "id": "1VBFvpE7hgAUSOhx",
  "tags": []
}